node_modules
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
cdk.out/
.idea
.vscode
.cursor
.cursorrules
.cursorrules.md
.cursorrules.txt
.cursorrules.yml
.cursorrules.yaml
.cursorrules.json
.cursorrules.jsonc
.cursorrules.json5

# Prisma
*.db
*.db-journal